html {
  height: 100%;
  font-size: 16px;
  margin: 0;
  }

  body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/wow.png") bottom center no-repeat;
  background-size: cover;
  font-size: 1em;
  wrap: no-wrap;
}

h1 {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  color: #fff;
  background: #f16059;
  padding: 0 10%;
  height: 10rem;
}
